/******************************************************************
640px - LANDSCAPE PHONES AND SMALL TABLETS
******************************************************************/
.from640 {

	body {
		font-size: @font-size-body;
	}
	
	.page-header {
		
		.mod {
			text-align: left;
		}
		
		.brand {
			float: left;
			margin-left: 0;
		}
		
		.nav {
			float: right;
			margin-right: 0;
		}	
		
		.site-menu {
		    float: right;
		}
		
	}
	
	.page-footer {
		.mod {
			text-align: left;
		}
	}
	
	.media-block {

		& > .media {		
			float: left;
			margin-right: 2*@content-spacing;
			width: 33%;
			margin-bottom: 0;
		}
		
		&[style-alignment="right"] {
			& > .media {
				float: right;
				margin-left: 2*@content-spacing;
				margin-right: 0;
			}
		}
	}
	
	.text-block {
		
		.aligncenter, .alignleft, .alignright {
			margin-bottom: 0;
			width: auto !important;	
		}
		
		.alignleft {
			float: left;
			margin-right: @content-spacing;
		}
		
		.alignright {
			float: right;
			margin-left: @content-spacing;
		}
	
		.aligncenter {
			
			margin: @content-spacing auto;
			max-width: 100%;
			
			img {
				max-width: 100%;
			}
			
		}
		
	}
	
	.h1 {
		font-size: @font-size-largest;
		line-height: @line-height-largest;
		
	}
	
	.h2, .text-block h2 { 
		font-size: @font-size-large;
		line-height: @line-height-large;
	}
	
	.h3, .text-block h3 {
		text-transform: uppercase;
	}
	
	.h4, .text-block h4 {
		font-size: 18px;
	}
	
	.single {
		.article {
			.hd {
				margin-bottom: 4*@content-spacing;
			}
		}
	}

}

@media only screen and (min-width: 640px) {
	.from640;
} /* end of media query */