/******************************************************************
640px - LANDSCAPE PHONES AND SMALL TABLETS
******************************************************************/
.from640 {

	.page-header {
		
		.mod {
			text-align: left;
		}
		
		.brand {
			float: left;
		}
		
		.nav {
			float: right;
		}	
		
		.site-menu {
		    float: right;
		}
		
	}

}

@media only screen and (min-width: 640px) {
	.from640;
} /* end of media query */