/*
 * Objects are larger containers that feature multiple piece that may include legos
 */ 

/* ==========================================================================
   Modules
   Modules can by definition fill any sized container without breaking.
   Most objects and legos will go inside modules
   ========================================================================== */

.mod {

	margin: @content-spacing;

	@media only screen and (min-width: 800px) {
		margin: @content-spacing;
	}

    & > .hd, & > .bd, & > .ft {
		&:extend(.clearfix all);
	}

    & > .hd {

		margin-bottom: @content-spacing;

	}

    & > .ft {
		margin-top: @content-spacing;
	}

}


/* ==========================================================================
   General List Styles
   Lots of extensions and overrides to suit most situations. We should rarely 
   have to build custom list objects.
   ========================================================================== */

ul.list {

    & > li + li {
    	margin-top: @content-spacing;
    }

}


// Inline-block list items. Requires no whitespace between list items for spacing reasons.
.list-horizontal {

    &:extend(.clearfix all);

	li {
		
		float: left;

		& + li {
			margin-left: @content-spacing/2;
		}

	}
	
}

ul.list-styled {
	padding-left: @content-spacing * 2;
	list-style-type: disc;	
}

ol.list-styled {
	padding-left: @content-spacing * 2;
	list-style: decimal;
}



/* ==========================================================================
   Articles
   Articles act like mods in many ways, but contain text-oriented content.
   ========================================================================== */

.article {

	& > .hd, & > .bd, & > .ft {
		&:extend(.clearfix all);
	}

    & > .hd {

		max-width: 760px;
		margin: 0 auto;
		margin-bottom: @content-spacing;

	}
	
	& > .bd {
		
		/*
		 *	We're horizontally compressing article block-level content
		 *	in order to allow the images to float outward.
		 *	I can see this coming back to bite me, but I'm 
		 *	not sure there's a better way.
		 */
		& > p, 
		& > blockquote, 
		& > h1, 
		& > h2, 
		& > h3, 
		& > h4, 
		& > h5, 
		& > & > h6, 
		& > ul,
		& > ol, 
		& > dl, 
		& > fieldset, 
		& > form,
		& > table,
		& > pre,
		& > article, 
		& > section,
		& > summary {
			max-width: 760px;
			margin-left: auto;
			margin-right: auto;
			.border-box;
		}
		
		.outset {
			max-width: none;
			margin: auto;
		}
		
		pre {
			&:extend( .border-box );
			margin-top: @content-spacing;
			margin-bottom: @content-spacing;
			
			&:extend( .font-mono );
			&:extend( .small-text );
			
			overflow: auto;
			
			background: black;
			padding: @content-spacing;
			color: #eee;
		}
		
		code {
			display: inline-block;
			vertical-align: middle;
			padding: 0 6px;
			
			&:extend( .border-box );
			&:extend( .font-mono );
			&:extend( .small-text );
			
			line-height: inherit;
			
			background: black;
			color: #eee;
		}
		
	}

    & > .ft {
		margin-top: @content-spacing;
		&:extend(.small-text all);
		max-width: 760px;
		margin-left: auto;
		margin-right: auto;
	}
	
}