/*
 * Objects are larger containers that feature multiple piece that may include legos
 */ 

/* ==========================================================================
   Modules
   Modules can by definition fill any sized container without breaking.
   Most objects and legos will go inside modules
   ========================================================================== */

.mod {

	margin: @contentPadding;

	@media only screen and (min-width: 800px) {
		margin: @contentPadding;
	}

    & > .hd, & > .bd, & > .ft {
		&:extend(.clearfix all);
	}

    & > .hd {

		margin-bottom: @contentPadding;

		& > .aux {

		}

	}

    & > .ft {
		margin-top: @contentPadding;
	}

}


/* ==========================================================================
   General List Styles
   Lots of extensions and overrides to suit most situations. We should rarely 
   have to build custom list objects.
   ========================================================================== */

ul.list {

    & > li + li {
    	margin-top: @contentPadding;
    }

}

.horizontal-list {

    &:extend(.clearfix all);

	li {
		
		float: left;

		& + li {
			margin-left: @contentPadding/3;
		}

	}
	
}



/* ==========================================================================
   Articles
   Articles act like mods in many ways, but contain text-oriented content.
   ========================================================================== */

.article {

	max-width: 640px;

	& > .hd, & > .bd, & > .ft {
		&:extend(.clearfix all);
	}

    & > .hd {

		margin-bottom: @contentPadding;

		& > .aux {

		}

	}

    & > .ft {
		margin-top: @contentPadding;
		&:extend(.small-text all);
	}
	
}