$contentPadding:	16px;
$textColor:			#333333;

$black:				#000;
$gray:              lighten($black, 50%);
$grayLight:         lighten($black, 75%);
$grayLighter:       lighten($black, 90%);
$brown:				rgb(85, 53, 21);
$brownLight:		lighten( $brown, 15% );
$brownDark:			darken( $brown, 15% );

$sans_serif:		"calluna-sans", Helvetica, Arial, sans-serif;
$serif:				"droid-serif", Cambria, Times New Roman, Times, serif;
$icon:				"FontAwesome";

$insetWidth:		600px;
$contentWidth:		960px;

@import "compass/css3";
@import "includes/reset.scss";
@import "includes/wordpress.scss";
@import "includes/mixins.scss";
@import "includes/layout.scss";
@import "includes/objects.scss";
@import "includes/typography.scss";
@import "includes/481up.scss";
@import "includes/768up.scss";
@import "includes/1030up.scss";


// Responsive implementation
@media only screen and (min-width: 481px) 	{ @include from481;  }
@media only screen and (min-width: 768px) 	{ @include from768;  }
@media only screen and (min-width: 1030px) 	{ @include from1030; }
