/* Grid */

.row {}
.col {}


/* Modules */

.mod {
	margin: $contentPadding;
	& > .hd {
		@include clearfix;
		margin-bottom: $contentPadding;
		& > .aux {
			margin-top: ( 0.5 * $contentPadding )
		}
	}
	& > .ft {
		margin-top: $contentPadding;
	}
	
	&.mod-no-vert-margin {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.wrapper {	
	margin: 0 auto;
	max-width: $contentWidth + (2 * $contentPadding);
	&.wrapper-medium {
		max-width: 800px + (2 * $contentPadding);
	}
	&.wrapper-inset {
		max-width: $insetWidth + (2 * $contentPadding);
	}
}

/* Media */

.media {
	@include clearfix;
	.img {
		float: left;
		margin-right: $contentPadding;
	}
	.bd {
		overflow: hidden;
	}
	&.media-right {
		.img { 
			float: right; 
			margin-right: 0; 
			margin-left: $contentPadding; }
	}
	.ft {
		margin-top: ( 0.5 * $contentPadding );
	}
}


/* Speciality */

header#site-header {
	@include clearfix;
	@include title-border( bottom );
	font-family: $sans-serif;
	text-align: center;
	position: relative;
	
	nav {
		display: none;
		margin-top: $contentPadding;
	}
}

footer#site-footer {
	@include clearfix;
	@include title-border( top );
	font-family: $sans-serif;
	text-align: center;
}






