.article {
	& .hd {
		margin: ( 2 * $contentPadding ) 0;
		text-align: center;
	}
}

.post-meta {
	font-size: 13px;
	line-height: 1.3em;
	color: $grayLight;
	margin: 0;
	a {
		color: inherit;
	}
}

.infinite-horizontal-list {
	$background: white;
	overflow: hidden;
	position: relative;
	
	& ul.horizontal-list {
		& > li {
			float:left;
		}
	}

	@media screen and (min-width: 768px) {
	
		&:after {
			content: "";
			@include background-image( linear-gradient(right, rgba( 255, 255, 255, 1 ), rgba( 255, 255, 255, 0 ) ) );
			width: 100px;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 100;
		}
		& ul.horizontal-list {
			width: 5000px;
		}
		
		
	}
}

.horizontal-list {
	& > li {
		display: block;
	}
}

.constrained-image {
	& > img {
		max-width: 100%;
		height: auto;
	}
}

.menu-item {
	a {
		display: inline-block;
		line-height: (2 * $contentPadding);
		text-decoration: none;
		color: $brown;
	}
}

.list-opacity-hover {
	& > li {
		@include transition;
	}
	&:hover {
		& > li {
			opacity: 0.5;
			&:hover {
				opacity: 1;
			}
		}
	}
}

.nav-toggle {
	position: absolute;
	top: 0;
	right: 0;
	
	display: block;
	width: 2 * $contentPadding;
	height: 2 * $contentPadding;
	border: solid 1px $grayLighter;
	box-sizing: border-box;
	color: $gray;
	font-size: 22px;
	line-height: 1.8 * $contentPadding;
	text-decoration: none;
}


.button,
.button:visited {
  background: #ffffff;
  border: 1px solid $grayLighter;
  padding: 7px 10px;
  color: #333333;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
  @include transition;
  @include border-radius;
  font-family: $sans-serif;
  box-sizing: border-box;
  line-height: 1.5em;
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
  border-color: $gray;
}

.flexslider {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	@include clearfix;
	
	li {
		position: relative;
		&:hover .slide-caption {
		}
	}
	
	.slide-caption {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: $contentPadding;
		background: rgba( 0, 0, 0, 0.6 );
		color: white;
		font-family: $sans-serif;
		font-weight: bold;
		text-align: right;
		text-decoration: none;

		&:after {
			font-family: $icon;
			content: "\f0a9";
			margin-left: ($contentPadding / 2);
		}
	}
	
	img {
		max-width: 100%;
		height: auto;
		display: block;
		margin: 0 auto;
	}
}

.project-role {
	&:before {
		font-family: $icon;
		width: (2 * $contentPadding);
		display: inline-block;
	}
	
	&[data-id="api"]:before{
		content: "\F085";
	}
	&[data-id="front-end"]:before {
		content: "\F121";
	}
	&[data-id="responsive"]:before {
		content: "\F10A";
	}
	&[data-id="shopify-theme"]:before {
		content: "\F155";
	}
	&[data-id="wordpress-plugin"]:before {
		content: "\F12E";
	}
	&[data-id="wordpress-theme"]:before {
		content: "\F09E";
	}
}

.img--round {
	@include border-radius( 50% );
	border: solid 1px transparent;
}

.flag {
	display: table;
	width: 100%;
	.img, .bd {
		display: table-cell;
		vertical-align: middle;
	}
	.img {
		& > img {
			display: block;
			max-width: none;
		}
	}
	.bd {
		width: 100%;
	}
	&.left > .img { 
		padding-left: $contentPadding; 
	}
	&.right > .img{
		padding-right: $contentPadding;
	}
}



.wufoo_container {
  padding-bottom: 2.2em;
}
.wufoo_container form {
  font-family: "calluna-sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0.75em 0;
}
.wufoo_container form ul {
  margin: 0;
  padding: 0;
}
.wufoo_container form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em;
}
.wufoo_container form input[type=text],
.wufoo_container form input[type=email],
.wufoo_container form input[type=url],
.wufoo_container form textarea,
.wufoo_container form select {
  width: 100%;
  padding: 7px 10px;
  border: 1px solid #bfbfbf;
  line-height: 1.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-sizing: border-box;
  /* form validation */

}
.wufoo_container form input[type=text]:invalid,
.wufoo_container form input[type=email]:invalid,
.wufoo_container form input[type=url]:invalid,
.wufoo_container form textarea:invalid,
.wufoo_container form select:invalid {
  outline: none;
  border-color: #fbe3e4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.respond-form form select,
.wufoo_container form select {
  height: 40px;
}
.wufoo_container form input[type=button],
.wufoo_container form input[type=submit],
.wufoo_container form button {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  padding: 7px 10px;
  color: #333333;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-family: "calluna-sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  line-height: 1.5em;
  width: 100%;
}
.wufoo_container form input[type=button]:hover,
.wufoo_container form input[type=submit]:hover,
.wufoo_container form button:hover,
.wufoo_container form input[type=button]:focus,
.wufoo_container form input[type=submit]:focus,
.wufoo_container form button:focus {
  border-color: #808080;
}

.wufoo_container form input[type=submit] {
  margin: 20px 0;
}

.wufoo_container form textarea {
  resize: none;
  height: 150px;
}

.wufoo_container .instruct {
  padding: 0 1em;
  font-family: "calluna-sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  line-height: 1.3em;
  color: #bfbfbf;
  margin-bottom: 0;
}
.wufoo_container .hide {
  visibility: hidden;
  position: absolute;
}
